In [2]:
from pyspark.sql import SparkSession

spark = SparkSession \
    .builder \
    .appName("Python Spark SQL basic example") \
    .config("spark.some.config.option", "some-value") \
    .getOrCreate()

/home/jgabrielmeurer1/.local/lib/python3.5/site-packages/pyspark/context.py:225: DeprecationWarning: Support for Python 2 and Python 3 prior to version 3.6 is deprecated as of Spark 3.0. See also the plan for dropping Python 2 support at https://spark.apache.org/news/plan-for-dropping-python-2-support.html.
  DeprecationWarning)

In [15]:
from pyspark.sql import Row

In [4]:
df = spark.read.csv("/home/jgabrielmeurer1/Desktop/mba/archive")
df.show()

+-------------+----------+--------------------+
|          _c0|       _c1|                 _c2|
+-------------+----------+--------------------+
|Member_number|      Date|     itemDescription|
|         1808|21-07-2015|      tropical fruit|
|         2552|05-01-2015|          whole milk|
|         2300|19-09-2015|           pip fruit|
|         1187|12-12-2015|    other vegetables|
|         3037|01-02-2015|          whole milk|
|         4941|14-02-2015|          rolls/buns|
|         4501|08-05-2015|    other vegetables|
|         3803|23-12-2015|          pot plants|
|         2762|20-03-2015|          whole milk|
|         4119|12-02-2015|      tropical fruit|
|         1340|24-02-2015|        citrus fruit|
|         2193|14-04-2015|                beef|
|         1997|21-07-2015|         frankfurter|
|         4546|03-09-2015|             chicken|
|         4736|21-07-2015|              butter|
|         1959|30-03-2015|fruit/vegetable j...|
|         1974|03-05-2015|packaged fruit/ve...|
|         2421|02-09-2015|           chocolate|
|         1513|03-08-2015|       specialty bar|
+-------------+----------+--------------------+
only showing top 20 rows

In [5]:
df.select("_c2").show()

+--------------------+
|                 _c2|
+--------------------+
|     itemDescription|
|      tropical fruit|
|          whole milk|
|           pip fruit|
|    other vegetables|
|          whole milk|
|          rolls/buns|
|    other vegetables|
|          pot plants|
|          whole milk|
|      tropical fruit|
|        citrus fruit|
|                beef|
|         frankfurter|
|             chicken|
|              butter|
|fruit/vegetable j...|
|packaged fruit/ve...|
|           chocolate|
|       specialty bar|
+--------------------+
only showing top 20 rows

In [10]:
df.createOrReplaceTempView("grocery")

In [18]:
#exibir chocolate
sqlDF = spark.sql("SELECT * FROM grocery WHERE _c2 LIKE 'choc%'")
sqlDF.show()

+----+----------+--------------------+
| _c0|       _c1|                 _c2|
+----+----------+--------------------+
|2421|02-09-2015|           chocolate|
|3111|31-01-2015|           chocolate|
|2229|30-05-2015|           chocolate|
|2649|28-11-2015|           chocolate|
|3361|22-07-2015|           chocolate|
|4993|21-01-2015|           chocolate|
|2777|01-06-2015|           chocolate|
|3950|05-12-2015|           chocolate|
|4088|05-03-2015|chocolate marshma...|
|4719|04-10-2015|           chocolate|
|1509|13-05-2015|           chocolate|
|1758|26-02-2015|           chocolate|
|3791|23-01-2015|           chocolate|
|4352|29-12-2015|           chocolate|
|2294|26-07-2015|           chocolate|
|2678|04-04-2015|           chocolate|
|2444|12-05-2015|chocolate marshma...|
|2761|02-03-2015|           chocolate|
|3167|03-02-2015|           chocolate|
|4686|12-11-2015|           chocolate|
+----+----------+--------------------+
only showing top 20 rows

In [13]:
df.createGlobalTempView("grocery")

In [14]:
spark.sql("SELECT * FROM global_temp.grocery").show()

+-------------+----------+--------------------+
|          _c0|       _c1|                 _c2|
+-------------+----------+--------------------+
|Member_number|      Date|     itemDescription|
|         1808|21-07-2015|      tropical fruit|
|         2552|05-01-2015|          whole milk|
|         2300|19-09-2015|           pip fruit|
|         1187|12-12-2015|    other vegetables|
|         3037|01-02-2015|          whole milk|
|         4941|14-02-2015|          rolls/buns|
|         4501|08-05-2015|    other vegetables|
|         3803|23-12-2015|          pot plants|
|         2762|20-03-2015|          whole milk|
|         4119|12-02-2015|      tropical fruit|
|         1340|24-02-2015|        citrus fruit|
|         2193|14-04-2015|                beef|
|         1997|21-07-2015|         frankfurter|
|         4546|03-09-2015|             chicken|
|         4736|21-07-2015|              butter|
|         1959|30-03-2015|fruit/vegetable j...|
|         1974|03-05-2015|packaged fruit/ve...|
|         2421|02-09-2015|           chocolate|
|         1513|03-08-2015|       specialty bar|
+-------------+----------+--------------------+
only showing top 20 rows